[Unit]
Description=PostgreSQL database server
After=local-fs.target network.target
Documentation=man:postgres(1)

[Service]
Type=notify
User=postgres
ExecStart=/usr/local/libexec/pgsql-14/bin/postgres -D /var/lib/pgsql/data
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

# Due to PostgreSQL's use of shared memory, OOM killer is often overzealous in
# killing Postgres
OOMScoreAdjust=-200

[Install]
WantedBy=multi-user.target
