[Unit]
Description=PureFTPd Server Daemon
After=local-fs.target network.target
Requires=slapd.service

[Service]
Type=forking
PIDFile=/var/run/pure-ftpd.pid
ExecStart=/usr/local/sbin/pure-ftpd /etc/pure-ftpd/pure-ftpd.conf

[Install]
WantedBy=multi-user.target
