[Unit]
Description=OpenLDAP Server Daemon
After=syslog.target

[Service]
Type=forking
PIDFile=/var/run/slapd/slapd.pid
ExecStartPre=/usr/local/libexec/slapd-env
ExecStart=/usr/local/sbin/slapd -f /etc/slapd/slapd.conf -u openldap -g openldap -h "ldap:///"
#"ldap://127.0.0.1:389/ ldaps:/// ldapi:///"

[Install]
WantedBy=multi-user.target
